<% layout("/layouts/boilerplate") -%>
<body>
    <h3>All Listing</h3>
   <div class="row row-col-lg-3 row-col-md-2 row-col-sm-1">
       <% for(let listing of listings){%>
        <a href="/listings/<%=listing._id%>" class="listing-links" style="width:20rem">
           <div class="card">
               <img src="<%= listing.image%>" 
               class="card-img-top" alt="listing.image">
               <div class="card-img-overlay"></div>
               <div class="card-body">
                   <p class="card-text">
                       <%= listing.title %><br/>
                       &#8377; <%=listing.price.toLocaleString("en-IN") %>/night
                   </p>
               </div>
             </div>
        </a>
       <%}%>
   </div>
</body>


<!-- <form method="get" action="/listings/new">
    <button>Create New Poster</button>
</form> -->